<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//assets/css/style.css">
    <title>ashwins</title>
</head>
<body>
<div class="menu">
    <div class="heading">    
    <h1>ASHWINS </h1>
    <h3>MENU</h3>
    </div>
    <div class="heading1">
    <h1> LUNCH / DINNER </h1>
    </div>

    <div class="heading1">
       
        </div>

        <div class="heading1">
            
            </div>
       <div class="food-items"> 
        <img src="../assets/images/chicken fried rice.jpg" alt="chicken fried rice">
                <div class="details">
                    <div class="details-sub">
                        <H2>CHICKEN FRIED RICE</H2>
                        <h3 class="price" style="
                        margin-right: 40px;">RS.100 </h3>
                    </div>
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>
    
   
    <div class="food-items"> 
        <img src="../assets/images/chilli parota.jpg"alt="chilli parota">
                <div class="details">
                    <div class="details-sub">
                        <h2>CHILLI PAROTA</h2>
                        <h3 class="price" style="
                        margin-right: 40px;">RS.70 </h3>




                    </div>
                
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    <div class="food-items"> 
        <img src="../assets/images/gobi noodles.jpg" alt="gobi noodles">
                <div class="details">
                    <div class="details-sub">
                        <H2> GOBI NOODLES</H2>
                        <h3 class="price" style="
                        margin-right: 40px;">RS.80 </h3>




                    </div>
                
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    <div class="food-items"> 
        <img src="/assets/images/pasta.jpg" alt="pasta">
                <div class="details">
                    <div class="details-sub">
                        <h2>PASTA </h2>
                        <h3 class="price" style="
                        margin-right: 40px;">RS.70 </h3>




                    </div>
                 
                </div>
                           <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

           <div class="food-items"> 
            <img src="../assets/images/vechu.jpg" alt="vechu">
                    <div class="details">
                        <div class="details-sub">
                            <h2>VECHU PAROTA </h2>
                            <h3 class="price" style="
                            margin-right: 40px;">RS.40</h3>
    
    
    
    
                        </div>
                     
                    </div>
                               <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>



            </div>

                <div class="food-items"> 
                    <img src="../assets/images/kothu parota.jpg" alt="kothu parota">
                            <div class="details">
                                <div class="details-sub">
                                    <H2>KOTHU PAROTA</H2>
                                    <h3 class="price" style="
                                    margin-right: 40px;">RS.80 </h3>
            
            
            
            
                                </div>
                            
                            </div>
                            <div class="btn-cont">
                                <button class="button"> ADD TO CART </button>
                            </div>
                </div>



                <div class="heading1">
                    <h1> SNACKS </h1>
                    </div>
                
                    <div class="heading1">
                       
                        </div>
                
                        <div class="heading1">
                            
                            </div>
                       <div class="food-items"> 
                        <img src="../assets/images/maggi.jpg" alt="maggi">
                                <div class="details">
                                    <div class="details-sub">
                                        <H2>MAGGI</H2>
                                        <h3 class="price"style="
                                        margin-right: 40px;">RS.35 </h3>
                                    </div>
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                    
                   
                    <div class="food-items"> 
                        <img src="..//assets/images/samosa.jpg" alt="samosa">
                                <div class="details">
                                    <div class="details-sub">
                                        <h2>SAMOSA</h2>
                                        <h3 class="price" style="
                                        margin-right: 40px;">RS.15 </h3>
                
                
                
                
                                    </div>
                                
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                
                    <div class="food-items"> 
                        <img src="..//assets/images/veg puffs.jpg" alt="veg puffs">
                                <div class="details">
                                    <div class="details-sub">
                                        <H2>VEG PUFFS</H2>
                                        <h3 class="price" style="
                                        margin-right: 40px;">RS.25 </h3>
                
                
                
                
                                    </div>
                                
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                
                    <div class="food-items"> 
                        <img src="..//assets/images/veg roll.jpg" alt="veg roll">
                                <div class="details">
                                    <div class="details-sub">
                                        <h2>VEG ROLL </h2>
                                        <h3 class="price"style="
                                        margin-right: 40px;">RS.30 </h3>
                
                
                
                
                                    </div>
                                 
                                </div>
                                           <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                
                           <div class="food-items"> 
                            <img src="../assets/images/lays.jpg" alt="lays">
                                    <div class="details">
                                        <div class="details-sub">
                                            <h2>LAYS</h2>
                                            <h3 class="price"style="
                                            margin-right: 40px;">RS.20 </h3>
                    
                    
                    
                    
                                        </div>
                                     
                                    </div>
                                               <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                
                
                
                            </div>
                
                                <div class="food-items"> 
                                    <img src="..//assets/images/sting.webp" alt="sting">
                                            <div class="details">
                                                <div class="details-sub">
                                                    <H2>STING</H2>
                                                    <h3 class="price"style="
                                                    margin-right: 40px;">RS.20 </h3>
                            
                            
                            
                            
                                                </div>
                                            
                                            </div>
                                            <div class="btn-cont">
                                                <button class="button"> ADD TO CART </button>
                                            </div>
                                </div>

                                <button class="btn">
                                    <a href="../templates/cart.html">CART</a>
                                </button>      

</div>

                                <script src="../assets/js.js"></script>


    
</body>
</html>



