<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/card.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>
        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>
    </div>
</body>
</html>