<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cart.css">
    <title>Orders </title>
</head>
<body>
    <h1 style="text-align: center;">CART</h1>
    <div id="cart-container">

        
          

    </div>
    <div id="total-box">
            

    </div>
      <div class="button">
       <a href="../templates/checkout.html">  <button class="btn"> PROCEED TO PAY</button> </a>
      </div>

    

         
    

    <script src="../assets/cart.js"></script>
</body>
</html>