<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/essen.jpg">
    <title>SSN/SNU FOOD RESPONSIVE ORDERING PAGE Essen</title>
    <link rel="stylesheet" href="../assets/css/body.css" />
    <link rel="stylesheet" href="../assets/css/card.css">
</head>

<body>
    

    <section class="section">
        <nav class="mainnav">

            <div class="title">Essen
                <img src="../assets/images/essen.jpg" class="logo">
            </div>

            <div class="nav-links">
                <ul>


                    <li><a href="#home"></a>HOME</li>
                    <li><a href="#About"></a>About</li>
                    <li><a href="#creators"></a>CREATORS</li>
                    <li><a href=""><i class='bx bxl-twitter'></i></a>


                </ul>
            </div>
        </nav>
    </section>
    <h2 clas="heading2">A Food ordering website in SSN/SNU campus</h2>
    <div class="content">
        

        <div class="content-right">
            <img src="../assets/images/Tea-.webp">
            

        </div>
        <div class="content-left">
            <div class="info">
                <h2> Order your Best <br>Food anytime </h2>
                <p> This is an ordering website where you can order your food from your class or hostel with time limit
                    and collect it without standing in queues.</p>


            </div>
            


            <div class="content-rights">
                <img src="../assets/images/50% Discounts on first order.png">
                
    
            </div>

        </div>




        
    </div>














    <div class="container">

        <div class="card">
          <a href="../templates/rishabh1.html">  <img class="card__image" src="../assets/images/rishabh.jpg" alt=""></a>
            <div class="card__content">
                <h3 class="card__header">RISHABS FOOD CANTEEN</h3>
                <p class="card__description">RISHABS food canteen is located near mechanical block of SSN which serves both north indian and south indian foods including breakfast</p>
               <a href="../templates/rishabh1.html"> <button class="card__CTA">Order Now</button></a>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>


        <div class="card">
            <img class="card__image" src="../assets/images/ssn canteen.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">Main Canteen</h3>
                <p class="card__description"> Main  canteen is located near sports complex  of SSN which serves both north indian and south indian foods including breakfast</p>
               <a href="../templates/index.html"><button class="card__CTA">Order Now</button></a>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>



        <div class="card">
          <a href="../templates/Ashwin.html"> <img class="card__image" src="../assets/images/ashwin1.jpg" alt=""></a>
            <div class="card__content">
                <h3 class="card__header">Ashwin's FOOD Court</h3>
                <p class="card__description">Ashwin's food court is located near Ladies hostel  which serves both north indian and chineese food items along essential products</p>
              <a href="../templates/Ashwin.html">  <button class="card__CTA">Order Now</button></a>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>


        <div class="card">
            <img class="card__image" src="../assets/images/rishabh.jpg" alt="">
            <div class="card__content">
                <h3 class="card__header">Snow Cube </h3>
                <p class="card__description">Snow cube  is located near mechanical block of SSN which serves Beverages ,snacks </p>
                <button class="card__CTA">Order Now</button>
                <p class="card__openingtime">Open from 9pm to 9pm</p>
            </div>
        </div>




        </div>

    <div>
        <footer class="footer-distributed">

            <div class="footer-left">
                <h3>Essen<span> Food website </span></h3>

                <p class="footer-links">
                    <a href="#">Home</a>
                    |
                    <a href="#">About</a>
                    |
                    <a href="#">Contact</a>
                    |
                    <a href="#">Blog</a>
                </p>


            </div>

            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Shiv Nadar University </span>
                        Chennai </p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>6381347700</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:">dk5058203gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>Creators</span>
                    <strong>Deepesh Kumar, Harshath, Krithiga </strong>
                    <br>
                    <strong>Design thinking project IOT-a</strong>


                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </footer>






</body>

</html>