<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #grad1 {
         height: 200px;
         background-color: red; /* For browsers that do not support gradients */
         background-image: linear-gradient(red, yellow);
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>sathyas</title>

</head>
<div class="menu">
    <div class="heading">    
    <h1>SATHYAS CATERING </h1>
    <h3>MENU</h3>
    </div>
    <div class="heading1">
    <h1> BREAKFAST </h1>
    </div>

    <div class="heading1">
       
        </div>

        <div class="heading1">
            
            </div>
       <div class="food-items"> 
        <img src="../assets/images/idly.jpg" alt="idly">
                <div class="details">
                    <div class="details-sub">
                        <H2>IDLY</H2>
                        <h3 class="price"style="
                        margin-right: 40px;">RS.28 </h3>
                    </div>
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>
    
   
    <div class="food-items"> 
        <img src="..//assets/images/dosa.jpg"alt="dosa">
                <div class="details">
                    <div class="details-sub">
                        <h2>DOSA</h2>
                        <h3 class="price"style="
                        margin-right: 40px;">RS.40 </h3>




                    </div>
                
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    <div class="food-items"> 
        <img src="..//assets/images/poori.jpg" alt="poori">
                <div class="details">
                    <div class="details-sub">
                        <H2>POORI</H2>
                        <h3 class="price" style="
                        margin-right: 40px;">RS.28 </h3>




                    </div>
                
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    <div class="food-items"> 
        <img src="..//assets/images/kal dosa.jpg" alt="kal dosa">
                <div class="details">
                    <div class="details-sub">
                        <h2>KAL DOSA </h2>
                        <h3 class="price" style="
                        margin-right: 40px;">RS.28 </h3>




                    </div>
                 
                </div>
                           <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

           <div class="food-items"> 
            <img src="..//assets/images/idiyappam.jpg" alt="idiyappam">
                    <div class="details">
                        <div class="details-sub">
                            <h2>IDIYAPPAM </h2>
                            <h3 class="price" style="
                            margin-right: 40px;">RS.28 </h3>
    
    
    
    
                        </div>
                     
                    </div>
                               <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>



            </div>

                <div class="food-items"> 
                    <img src="..//assets/images/pongal.jpg" alt="pongal">
                            <div class="details">
                                <div class="details-sub">
                                    <H2>PONGAL</H2>
                                    <h3 class="price" style="
                                    margin-right: 40px;">RS.28 </h3>
            
            
            
            
                                </div>
                            
                            </div>
                            <div class="btn-cont">
                                <button class="button"> ADD TO CART </button>
                            </div>
                </div>



                <div class="heading1">
                    <h1> LUNCH </h1>
                    </div>
                
                    <div class="heading1">
                       
                        </div>
                
                        <div class="heading1">
                            
                            </div>
                       <div class="food-items"> 
                        <img src="..//assets/images/curd rice.jpg" alt="fried rice">
                                <div class="details">
                                    <div class="details-sub">
                                        <H1>VEG FRIED RICE</H1>
                                        <h3 class="price" style="
                                        margin-right: 40px;">RS.70 </h3>
                                    </div>
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                    
                   
                    <div class="food-items"> 
                        <img src="../assets/images/noodles.jpg"alt="noodles">
                                <div class="details">
                                    <div class="details-sub">
                                        <h2>VEG NOODLES</h2>
                                        <h3 class="price" style="
                                        margin-right: 40px;">RS.70 </h3>
                
                
                
                
                                    </div>
                                
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                
                    <div class="food-items"> 
                        <img src="..//assets/images/noodles.jpg" alt="parotta">
                                <div class="details">
                                    <div class="details-sub">
                                        <H2>PAROTTA</H2>
                                        <h3 class="price" style="
                                        margin-right: 40px;">RS.40 </h3>
                
                
                
                
                                    </div>
                                
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                
                    <div class="food-items"> 
                        <img src="..//assets/images/veg meals.jpg" alt="veg meals">
                                <div class="details">
                                    <div class="details-sub">
                                        <h2>VEG MEALS </h2>
                                        <h3 class="price" style="
                                        margin-right: 40px;">RS.28 </h3>
                
                
                
                
                                    </div>
                                 
                                </div>
                                           <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                    </div>
                
                           <div class="food-items"> 
                            <img src="..//assets/images/curd rice.jpg" alt="curd rice">
                                    <div class="details">
                                        <div class="details-sub">
                                            <h2>CURD RICE</h2>
                                            <h3 class="price" style="
                                            margin-right: 40px;">RS.28 </h3>
                    
                    
                    
                    
                                        </div>
                                     
                                    </div>
                                               <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                
                
                
                            </div>
                
                                <div class="food-items"> 
                                    <img src="..//assets/images/biriyani.jpg" alt="biriyani">
                                            <div class="details">
                                                <div class="details-sub">
                                                    <H2>BIRIYANI</H2>
                                                    <h3 class="price" style="
                                                    margin-right: 40px;">RS.28 </h3>
                            
                            
                            
                            
                                                </div>
                                            
                                            </div>
                                            <div class="btn-cont">
                                                <button class="button"> ADD TO CART </button>
                                            </div>
                                </div>

                                <div class="heading1">
                                    <h1> DINNER </h1>
                                    </div>
                                
                                    <div class="heading1">
                                       
                                        </div>
                                
                                        <div class="heading1">
                                            
                                            </div>
                                       <div class="food-items"> 
                                        <img src="..//assets/images/dosa.jpg" alt="dosa">
                                                <div class="details">
                                                    <div class="details-sub">
                                                        <H2>DOSA</H2>
                                                        <h3 class="price" style="
                                                        margin-right: 40px;">RS.70 </h3>
                                                    </div>
                                                </div>
                                                <div class="btn-cont">
                                                    <button class="button"> ADD TO CART </button>
                                                </div>
                                    </div>
                                    
                                   
                                    <div class="food-items"> 
                                        <img src="../assets/images/kothu parota.jpg"alt="kothu parotta">
                                                <div class="details">
                                                    <div class="details-sub">
                                                        <h2>KOTHU PAROTTA</h2>
                                                        <h3 class="price" style="
                                                        margin-right: 40px;">RS.75 </h3>
                                
                                
                                
                                
                                                    </div>
                                                
                                                </div>
                                                <div class="btn-cont">
                                                    <button class="button"> ADD TO CART </button>
                                                </div>
                                    </div>
                                
                                    <div class="food-items"> 
                                        <img src="../assets/images/chilly parotta.jpg" alt="chilly parotta">
                                                <div class="details">
                                                    <div class="details-sub">
                                                        <H2>CHILLY PAROTTA</H2>
                                                        <h3 class="price" style="
                                                        margin-right: 40px;">RS.70 </h3>
                                
                                
                                
                                
                                                    </div>
                                                
                                                </div>
                                                <div class="btn-cont">
                                                    <button class="button"> ADD TO CART </button>
                                                </div>
                                    </div>
                                
                                    <div class="food-items"> 
                                        <img src="../assets/images/snoodles.jpg" alt="snoodles">
                                                <div class="details">
                                                    <div class="details-sub">
                                                        <h2>SCHEZWAN NOODLES</h2>
                                                        <h3 class="price" style="
                                                        margin-right: 40px;">RS.80 </h3>
                                
                                
                                
                                
                                                    </div>
                                                 
                                                </div>
                                                           <div class="btn-cont">
                                                    <button class="button"> ADD TO CART </button>
                                                </div>
                                    </div>
                                
                                           <div class="food-items"> 
                                            <img src="../assets/images/sfried rice.jpg" alt="sfried rice">
                                                    <div class="details">
                                                        <div class="details-sub">
                                                            <h2>SCHEZWAN FRIED RICE</h2>
                                                            <h3 class="price" style="
                                                            margin-right: 40px;">RS.80 </h3>
                                    
                                    
                                    
                                    
                                                        </div>
                                                     
                                                    </div>
                                                               <div class="btn-cont">
                                                    <button class="button"> ADD TO CART </button>
                                                </div>
                                
                                
                                
                                            </div>
                                
                                                <div class="food-items"> 
                                                    <img src="../assets/images/chapathi.jpg" alt="chapathi">
                                                            <div class="details">
                                                                <div class="details-sub">
                                                                    <H2>CHAPATHI</H2>
                                                                    <h3 class="price" style="
                                                                    margin-right: 40px;">RS.35 </h3>
                                            
                                            
                                            
                                            
                                                                </div>
                                                            
                                                            </div>
                                                            <div class="btn-cont">
                                                                <button class="button"> ADD TO CART </button>
                                                            </div>
                                                </div>
                

<body>
    
</body>
</html>

