<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/s1.css">
    
    <title>rishabhs</title>
</head>
<body>
    
<div class="menu">
    <div class="heading">    
    <h1>Rishabs </h1>
    <h3>MENU</h3>
    </div>
    <div class="sideheading"> 
        <h1>Beverages</h1>
    </div>
    <div> </div>
    <div></div>
       
    <div class="food-items"> 
        <img src="../assets/images/Tea-.webp" alt="Tea">
                <div class="details">
                    <div class="details-sub">
                        <H1>Tea</H1>
                        <h3 class="price">RS.12 </h3>
                    </div>
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    
   
    <div class="food-items"> 
        <img src="../assets/images/Filer-Coffee-2-3.jpg "alt="Coffee">
                <div class="details">
                    <div class="details-sub">
                        <h1>Coffee</h1>
                        <h3 class="price">RS.15 </h3>




                    </div>
                
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    <div class="food-items"> 
        <img src="../assets/images/cold boost.jpg" alt="cold boost">
        
                <div class="details">
                    <div class="details-sub">
                        <H1>Cold boost</H1>
                        <h3 class="price">RS.50 </h3>




                    </div>
                
                </div>
                <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>

    <div class="food-items"> 
        <img src="../assets/images/lime juice.jpg" alt="lime juice ">
                <div class="details">
                    <div class="details-sub">
                        <h1>Lime juice </h1>
                        <h3 class="price">RS.30 </h3>




                    </div>
                 
                </div>
                           <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
                </div>
    </div>


           <div class="food-items"> 
            <img src="../assets/images/Rose milk.jpg.crdownload" alt="rosemilk">
                    <div class="details">
                        <div class="details-sub">
                            <h1>Rose milk </h1>
                            <h3 class="price">RS.30 </h3>
    
    
    
    
                        </div>
                     
                    </div>
                               <div class="btn-cont">
                    <button class="button"> ADD TO CART </button>
              
                </div>
           </div>


                <div class="food-items"> 
                    <img src="../assets/images/badam-milk-recipe.jpg" alt="badam milk">
                            <div class="details">
                                <div class="details-sub">
                                    <h1>Badam milk </h1>
                                    <h3 class="price">RS.20 </h3>
            
            
            
            
                                </div>
                                <div class="btn-cont">
                                    <button class="button"> ADD TO CART </button>
                                </div>
                           </div>
                           </div>


                                

                           
            <button class="btn">
                <a href="../templates/cart.html">CART</a>
            </button>                                  



</div>
<script src="../assets/js.js"></script>

</body>

</html>
